@import "tailwindcss";

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #24252f transparent;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #282935;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3a3b4c;
  }
}

.cursor-rotate-custom {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 12a8 8 0 0 1 14.93-4M20 12a8 8 0 0 1-14.93 4' stroke='%23000000' stroke-width='4.5' stroke-linecap='round'/%3E%3Cpath d='M15 4h4v4M9 20H5v-4' stroke='%23000000' stroke-width='4.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 12a8 8 0 0 1 14.93-4M20 12a8 8 0 0 1-14.93 4' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M15 4h4v4M9 20H5v-4' stroke='%2338bdf8' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 12 12, crosshair !important;
}

